<div class="m-5">

  <h3 class='mt-3'>Exercice 1 : Guitars sounds</h3>

  <div class="keys">
    <div data-key="65">
      <kbd>A</kbd>
      <span>Accoustic</span>
    </div>
    <div data-key="69">
      <kbd>E</kbd>
      <span>Electric</span>
    </div>
    <div data-key="83">
      <kbd>S</kbd>
      <span>Synthetic</span>
    </div>
  </div>

  <audio data-key="65" src="guitars/sounds/acoustic.wav"></audio>
  <audio data-key="69" src="guitars/sounds/electric.wav"></audio>
  <audio data-key="83" src="guitars/sounds/synthetic.wav"></audio>

  <script>
    function playSound(e) {
      const audio = document.querySelector(`audio[data-key="${e.keyCode}"]`);
      const key = document.querySelector(`div[data-key="${e.keyCode}"]`);
      if (!audio) return;

      key.classList.toggle('playing');
      if(audio.paused) {
        audio.play();
      } else {
        audio.pause();
      }
    }

    window.addEventListener('keydown', playSound);
  </script>


  <h3 class='mt-5'>Exercice 2 : Christmas gift List</h3>
  
  <div class="wrapper" style='visibility:hidden;'>
  <div class="gifts" ></div>
    <form class="add-items">
      <input type="text" name="item" placeholder="Name" required>
      <input type="submit" value="+ Add gift idea">
      <button id="clear-list">Clear List</button>
    </form>
  </div>

  <script>
    const clearList = document.querySelector('#clear-list');
    const addItems  = document.querySelector('.add-items');
    const itemsList = document.querySelector('.gifts');
    const inputText = document.querySelector('input[type="text"]');
    const storage   = window.localStorage;
    let   items     = JSON.parse(storage.getItem('myItems')) || []

     displayList();

    function itemHTML (name, checked, index) {
      const html = `
        <input type="checkbox" data-index="${index}" id="item${index}" ${checked ? 'checked' : ''}>
        <label for="item${index}">${name}</label>
      `;
      return html
    }

    function saveLocalStorage () {
      storage.setItem('myItems', JSON.stringify(items))
    }

    function handleSubmit (e) {
      e.preventDefault()
      const item = { name: inputText.value, checked: false };
      items.push(item);
      e.target.reset();
      saveLocalStorage();
      displayList();
    }

    function displayList () {
      const html = items.reduce((html, item, index) => {
        return html += itemHTML(item.name, item.checked, index)
      }, '')
      itemsList.innerHTML = html
    }

    function handleCheckbox (e) {
      if (!e.target.matches('input')) return
      const index = e.target.dataset.index
      items[index].checked = !items[index].checked
      saveLocalStorage();
    }

    function handleClearList () {
      items = [];
      saveLocalStorage();
      displayList()
    }

    addItems.addEventListener('submit', handleSubmit);
    itemsList.addEventListener('click', handleCheckbox);
    clearList.addEventListener('click', handleClearList);
  </script>
</div>
