<div class="m-5">
  <%= link_to 'Vers les exercices', exercices_path %>
  <h3 class='mt-3'>Démo</h3>
  <%# controller / lifecycle %>
  <div data-controller="demo" class='mt-3' id='demo'></div>





  <%# shorthand action %>
  <%# <div data-controller="demo" class='mt-3'>
    <button data-action="click->demo#hello">Hello</button>
  </div> %>


  <%# multiple actions %>
  <%# <div data-controller="demo" class='mt-3'>
    <button data-action="click->demo#hello">hello</button>
    <input data-action="demo#hello focus->demo#hello"></input>
  </div> %>






  <%# target uniq %>
  <%# <div data-controller="demo" class='mt-3'>
    <button data-action="demo#hello">
      hello
    </button>
    <input data-demo-target="name" type="text">
    <span data-demo-target="output" class='ml-2'></span>
  </div> %>


  <%# target multiple %>
  <%# <div data-controller="demo" class='mt-3'>
    <button data-action="demo#hello">
      hello
    </button>
    <input data-demo-target="name" type="text">
    <span data-demo-target="output" class='ml-2'></span>
    <span data-demo-target="output" class='ml-2'></span>
    <span data-demo-target="output" class='ml-2'></span>
    <span data-demo-target="output" class='ml-2'></span>
  </div> %>









  <%# asynchronous loading html %>
  <%# <div data-controller="demo"
     data-demo-messages-value="/messages.html"
     data-demo-users-value="https://jsonplaceholder.typicode.com/users"
  >

     <button data-action='demo#load' class='mt-2'>Load messages</button>
     <div data-target='demo.messages'></div>
     <button data-action='demo#print' class='mt-2'>Print Users in console</button>
  </div> %>









  <%# CSS classes %>
  <%# <div data-controller="demo"
       data-demo-users-value="https://jsonplaceholder.typicode.com/users"
       data-demo-printed-class="printed"
  >
     <button data-action='demo#print' data-demo-target="button" class='mt-2'>Print Users in console</button>
  </div> %>









  <%# inheritance %>
  <%# <div data-controller="parent">
    <p data-parent-target="element" />
  </div>

  <div data-controller="demo">
    <p data-demo-target="element" />
  </div> %>
</div>
